
@media (max-width: 1200px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        display: none;
    }
}

.js__flex-container,
.html__flex-container,
.css__flex-container{
    flex-direction: column;
}

header > :first-child{
    margin-bottom: .8rem;
}

/* Navigation List */
.invisible{
    display: none;
}

/* Main Content */
.description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    order: -1;
}

.other-languages__grid-container{
    grid-gap: 2rem;
}





