*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #555;
}

/* Universal */
a{
    text-decoration: none;
}
body{
    letter-spacing: .09rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
    display: grid;
    grid-template-columns: 12% auto;
    grid-template-rows: 5% 4% auto 4%;
    grid-template-areas: 
        "header header"
        "nav nav"
        "aside main"
        /* "aside main" */
        "aside footer"
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 1rem;
}

nav{
    grid-area: nav;
    letter-spacing: .25rem;
    font-size: 1.2rem;
    background: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside{
    grid-area: aside;

}

main{
    grid-area: main;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

footer{
    grid-area: footer;
    background: black;
}

/* Utility */
.button{
    display: inline-block;
    padding: .5rem 1rem;
    margin-right: .3rem;
    cursor: pointer;
    border: none;
}

.button--dark{
    background: #616161;
    color: #fff;
}

.button--dark:hover{
    background: #ccc;
    color: #000;
}

.button--green{
    background: #4CAF50;
    color: #fff;
}

.button--green:hover{
    opacity: .9;
}

.card{
    background: #f1f1f1;
    padding: 1rem;
}

.card--white{
    background: #fff;
}

.code{
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 4px solid #4CAF50;
}

.container{
    max-width: 1600px;
    margin: auto;
}

.dark-grey{
    color: #555;
}

.description{
    flex: 1;
    text-align: center;
    margin-top: 6rem;
}


.example{
    flex: 1;
    margin: 3rem 0 ;
}

.uppercase{
    text-transform: uppercase;
}

.hilight{
    color: #4CAF50;
}
.list{
    list-style: none;
}

.small-heading,
.medium-heading,
.large-heading{
    font-weight: normal;
}

.small-heading{
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.medium-heading{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.large-heading{
    font-size: 5rem;
    letter-spacing: .14rem;
    margin-bottom: 3rem;
}

.flex-horizontal{
    display: flex;
}


/* Header */

header > :first-child{
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--dark-color);
}
header > :last-child{
    font-weight: normal;
    letter-spacing: .28rem;
    font-size: 1rem;
}


/* Navbar */

nav ul{
    display: flex;
}
nav ul a{
    color: #fff;
    padding: 1.2rem;
}

nav ul a:hover{
    background: #fff;
    color: #000;
}

/* Aside */
aside > :first-child{
    padding-top: 1rem;
}
aside div{
    padding: 0 1rem 1rem 1rem;
}
aside ul a{
    display: inline-block;
    width: 100%;
    color: #333;
}
aside ul a:hover{
    background: #ccc;
}

/* Html section */

/* Css Section */
.css{
    background: #f1f1f1;
    /* padding-bottom: 2rem; */
}

/* Javascript section */

/* Other Languages */
.other-languages{
    background: #f1f1f1;
    padding: 4rem;
}

.other-languages__grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    text-align: center;
}
.other-languages .card{
    padding: 1.6rem;
}
.other-languages .medium-heading{
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

.other-languages .small-heading{
    font-size: 1.2rem;
    margin-bottom: 2.85rem;
}