.header__flex-container{
    flex-direction: column;
}

nav > :last-child{
    display: none;
}

.other-languages__grid-container{
    grid-template-columns: 1fr;
}

.frameworks__flex-container,
.exercises__flex-container{
    flex-direction: column;
}

.exercises .container > :last-child{
    display: none;
}

.large-heading{
    font-size: 4rem;
    letter-spacing: .14rem;
    margin-bottom: 2.4rem;
}

.main-footer__flex-container > :first-child{
    display: none;
}
.main-footer__flex-container{
    justify-content: flex-end;
}
